@font-face {
  font-family:mfont;
  src: url(./font/ttf/shikamaru-shikamaru-400.ttf);
}
*{
    color:#232323!important;
    font-size: 18px;
    font-family:sans-serif;
}
html{
  scroll-behavior: smooth;
}

.headers{
  border-bottom: 0.5px solid #232323;
  background:white!important;
}

.nav-link a:hover{
    color: none!important;
}
.navbar-brand{
    position:relative;
    left:30px;
    color:#234a4d!important;
    font-weight: bold;
    font-size: 30px!important;
    font-family:mfont;
}
.navbar-brand img{
    height:60px;
    width: 60px;
    border-radius:50%;
}
.ic img{
  height:28px;
}
.header{
  background: #e5e4e0!important;
}

/* side nav */
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right:0;
  background-color:#CAE4E3;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 99;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.ic{
  position:relative;
  right:30px;
}

#con{
  margin-right: 30px;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  border: none;
  background:#234a4d;
  color: #e5e4e0!important;
}
#con a{
  text-decoration: none;
  color: white!important;
}
.phn{
  margin-right: 90px;
  line-height: 60px;
  color: #232323;
}
/*carousel start*/

#myCarousel{
  margin-top:90px;
}
.carousel-item img{
  width:129%;
  height:100%;
  box-sizing: border-box;
  transition: transform 5s;
}

.carousel-item img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.0.5); 
}

/* about start */
.abr{
  margin: 0!important;
  background:#CAE4E3;
  padding-bottom: 30px;
}
.ab{
  font-size: 40px;
  height:auto;
}
.ab h1{
  text-align: center;
  padding-top: 20px;  
  font-family:mfont;
}
.brd{
  width: 100%;
  height: 500px;
  border: 0px solid red;
  float: left;
  margin-top:10px;
  overflow: hidden;
}
.imgss{
  margin:auto;
  margin-top: 32.5px;
  width: 400px;
  height: 435px;
  border: 0px solid red;
  border-radius: 10px;
}
.imgss img{
  border-radius: 10px;
}
.para{
  text-align:justify;
  margin: 0 auto;
  margin-top:20px;
}
.para b{
  font-size: 35px;
}

/*Gallery start*/
.rw{
margin: 0px!important;
padding-bottom: 50px;

}

.gall h1{
  color: #232323!important;
  font-size: 40px;
  text-align: center;
  margin: 0px;
  position:relative;
  background:none;
  padding-top:30px;
  padding-bottom: 20px;
  font-family:mfont;
}

/* product Gallery */
.first{
        width:100%;
        border: 0px solid red;
        float:left;
        margin-top: 20px;
        text-align: center;
    }

    .rec{
        width: 100%;
        height:100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 10px;
        overflow: hidden;
        box-sizing: border-box;
        background: #CAE4E3;
    }

    .imgs {
        border-radius:10px;
        margin-top:30px;
        overflow: hidden;
        width:80%;
        z-index: 999!important;
    }

    .pn{
       text-align:center;
       border: 0px solid yellow;
       margin-top: 10px;
       font-size:25px;
    }

    .pn p{
        width: 90%;
        margin: 0 auto;
        font-size: 17px;
        border: 0px solid yellow;
        margin-top:7px;
    }

    .buy{
       width:40%;
       height: 32px;
       font-size: 18px;
       background:none;
       border: 1px solid #232323;
       margin-top:17px;
    }

    .buy:hover{
      background: #234a4d;
      color:white!important;
    }

/* video start */
#video{
 background:#CAE4E3; 
}
.vid{
  margin-top: 50px;
  padding-bottom: 40px;
}

/* Footer */
.rwf{
  margin: 0!important;
}
#footer{
  background:#234a4d;
  height: auto;
  padding-bottom:0px;
  border: 0px solid red;
}
.foo{
  border: 0px solid white;
  height: 300px;
  overflow: hidden;
  float: left;
  margin-top:50px;
}
.map{
  width:95%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
address{
  margin-top: 20px;
  text-align: center;
  color: white!important;
  font-size: 30px;
}
.add{
  padding-top: 10px;
  color: white!important;
}
.mail{
  color: white !important;
}
.conn{
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  color: white!important;
}
form{
  height: 70%;
  border: 0px solid red;
  width: 80%;
  margin:auto;
}
label{
  color: white!important;
  padding-top:8px;
}
input{
  width: 100%;
  border: none;
  background:white;
  border-bottom: 1px solid white; 
  padding-left: 3px;
}
input:focus{
  border: none;
  outline:0px;
}
.sh{
   margin-top:17px;
   border: 1px solid white;
   background: none;
   color: white!important;
   width:100%;
   height:35px;
}
.sh:hover{
  background: white;
  color:#232323!important;
}
::placeholder{
  color: grey;
  font-size: 13px;
}
.copy{
  font-family: sans-serif;
  margin-top:30px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white!important;
  border-top: 0px solid white;
}

@media only screen and (max-width:767px){
  .phn, #con{
    display: none;
  }
  .navbar-brand{
    left: 0;
  }
  .ab h1{
    font-size:30px;
  }
  .map{
    width: 100%;
    height:250px;
  }
  .vid{
    width: 100%;
    height: 200px;
  }
  .foo{
    margin: 0px;
    border: 0px solid red;
    height: auto;
    margin-top: 10px;
    overflow: hidden;
  }
  #footer{
    padding-top:40px;
  }
  .copy{
    margin-top:10px;
  }
  .brd{
     border: 0px solid red;
     height: auto;
  }
.imgss{
  overflow: hidden;
  border-radius:0;
}
.imgss img{
  width: 100%;
  height: auto;
}
}

